form{
	margin:30px 0 0 80px;
	font-size:20px;
}

td{
	width:150px;
	height:40px;
}

b{
	font-size:32px;
}

label{
	height:36px;
	width:100px;
}

input[type=text]{
	border:1px solid #aaa;
	height:30px;
	width:300px;
}

input[type=submit]{
	color:white;
	background-color:#2a94de;
	height:36px;
	width:220px;
}

input[type=reset]{
	color:white;
	background-color:#2a94de;
	height:36px;
	width:116px;
}
