.container .name{
	font-size:30px;
	font-weight:500;
	color:#ea2c58;
}

.box{
	margin-top:80px;
}

.phone, .email, .address{
	font-size:16px;
	font-weight:500;
}

.head{
	background-color:#e7e7e7;
	padding-left:8px;
}

table{
	margin-left:20px;
	font-size:18px;
}

td{
	width:200px;
	height:40px;
	padding-left:12px;
}

tbody tr:nth-child(1){
	width:150px;
}